.hotel {
    width: 100%;
    background: #FFFFFF;
    border-radius: 16px;
    overflow: hidden;
    text-align: center;
  }
  
  .hotel-header h3 {
    padding: 14px 16px;
    text-align: center;
  }
  
  .hotel-header img {
    width: 100%;
    object-fit: cover;
    text-align: center;
  }
  .hotel-header img:hover {
    width: 100%;
    background: rgb(39, 34, 34);
    transition: ease-in-out 1s;
  }
  
  .hotel-body {
    padding: 0 16px;
    text-align: center;
  }
  
  .hotel-footer {
    padding: 14px 16px;
    text-align: center;
  }