   #reserve {
    margin-top: 100px;
    background: white;
    padding: 40px 20px;
    text-align: center;
  }
  
  .reserve-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .reserve-heading {
    text-align: center;
  }
  
  .reserve-heading h2 {
    border: solid 5px black;
    background-color: black;
    color: white;
    font-size: 32px;
    text-align: center;
  }

  .reserve-heading p {
    font-size: x-large;
    text-align: center;
    margin-bottom: 30px;
    background-color: darkgray;
  }
  .reserve-button{
    align-content: center;
    margin-top: 100px;
    background:white;
    color: black;
    border: 1px solid black;
    padding: 12px 18px;
    border-radius: 5px;
    cursor: pointer ;
    transition: 0.2 ease-in-out;
    text-decoration: none;
  }
  
  .hotel-container {
    display: flex;
    text-align: center;
    gap: 24px;
  }

  @media only screen and (max-width: 768px) {
    .hotel-container {
      flex-direction: column;
      text-align: center;
    }
  }