#services {
    background: white;
    padding: 72px 20px;
    text-align: center;
  }
  
  .services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  
  .services-heading {
    text-align: center;
  }
  
  .services-heading h2 {
    font-size: 32px;
    margin-bottom: 14px;
    text-align: center;
  }
  
  
  .hotel-container {
    display: flex;
    text-align: center;
    gap: 24px;
  }
  
  @media only screen and (max-width: 768px) {
    .hotel-container {
      flex-direction: column;
      text-align: center;
    }
  }