@import "button.css";
@import "navbar.css";
@import "logo.css";
@import "hotel-banner.css";
@import "footer.css";
@import "sign.css";
@import "services.css";
@import "hotel.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.container{
    max-width: 1200px;
}